<mat-drawer-container class="example-container">
    <mat-drawer class="sidebar" mode="side" #drawer>
        <h6>HOME</h6>
        <a href="#" class="active"><span class="material-icons">home</span> Dashboard</a>
        <h6>Organization</h6>
        <a href="#"><span class="material-icons">people</span> Manage teams</a>
        <a href="#"><span class="material-icons">check_box</span> Input</a>
        <a href="#"><span class="material-icons">bookmark</span> Float Label</a>
        <a href="#"><span class="material-icons">warning</span> Invalid State</a>
        <a href="#"><span class="material-icons">touch_app</span> Button</a>
        <a href="#"><span class="material-icons">table_chart</span> Table</a>
        <a href="#"><span class="material-icons">list</span> List</a>
        <a href="#"><span class="material-icons">view_column</span> Panel</a>
        <a href="#"><span class="material-icons">photo</span> Media</a>
        <a href="#"><span class="material-icons">menu</span> Menu</a>
        <a href="#"><span class="material-icons">list</span> List</a>
        <a href="#"><span class="material-icons">view_column</span> Panel</a>
        <a href="#"><span class="material-icons">photo</span> Media</a>
        <a href="#"><span class="material-icons">menu</span> Menu</a>
    </mat-drawer>
</mat-drawer-container>
