<nav class="navbar navbar-expand-lg navbar-dark px-2" style="background-color: #0c66e4; height: 60px;">
  <div class="container-fluid">
    <div class="d-flex align-items-center" style="gap:230px;">
      <a class="navbar-brand" href="#">Navbar</a>
      <li class="nav-item d-flex align-items-center">
        <mat-icon (click)="ToggleSidebar()" class="d-flex align-items-center text-white fs-2">menu</mat-icon>
      </li>
    </div>

    <div class="d-flex align-items-center ms-auto">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="styled-icon-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
