<nav class="navbar navbar-expand-lg navbar-dark px-2" style="background-color: #0c66e4;height: 60px;">
  <div class="d-flex align-items-center" style="gap:150px;">
    <a class="navbar-brand" href="#">Navbar</a>
    <li class="nav-item d-flex align-items-center">
      <mat-icon (click)="ToggleSidebar()" class="d-flex align-items-center text-white fs-2">menu</mat-icon>
     </li>
  </div>
  
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
       
       
      </ul>
     
    </div>
  </nav>